@font-face {
  font-family: Genome;
  src: url(Genome-Thin.otf);
  font-weight: thin;
}

html {
  background: url(background.jpg) center no-repeat;
  background-size: 200% cover;
}

*{
  font-family: Genome;
}

@media only screen and (max-width: 480px) {
  span{
    display:none;
  }
}
