#logo {
  height: 8em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#mini-logo {
  height: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#banner {
  font-family: Walkaway;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 15%;
}

.marquee {
  font-family: Master_of_break;
}

#title {
  font-size: 1.5em;
  text-align: center;
  margin: 0 0 0 0;
}

#info {
  font-family: Genome;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5%;
}

#main, #intro {
  font-size: 1.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10% 25% 10% 25%;
}

#intro p {
  text-align: justify;
}

.icon {
  height:40px;
  display: block;
}
