
.template {
  display: none;
}

#title {
  font-size: 1.5em;
  text-align: center;
  margin:10% 0 0 0;
}

#main, #intro {
  font-size: 1.4em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10% 25% 10% 25%;
}
