#banner {
  font-family: Walkaway;
}

.marquee {
  font-family: Master_of_break;
}

#title {
  font-size: 1.5em;
  text-align: center;
  margin:10% 0 0 0;
}

#info {
  font-family: Genome;
}

#main, #intro {
  font-size: 1.4em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10% 25% 10% 25%;
}

.icon {
  height:40px;
  display: block;
}
