ul{
  padding: 0 5% 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li {
  padding-right: 10%;
  padding-left: 10%;
  display: flex;
  flex-direction: row;
  font-size: 1.4em;
}

a {
  text-decoration: none;
  color: #0066ff;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}

footer {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}
