ul{
  padding: 0 10% 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li {
  margin-right: 15%;
  margin-left: 15%;
  display: flex;
  flex-direction: row;
  font-size: 1.4em;
}

a {
  text-decoration: none;
  color: #0066ff;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}

footer {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}
